/* body{
    background-color:black;
}

button{
    padding:20px;
    border-radius: 8px;
    margin-left: 20px;

}

section img{
    animation: rotate 5s linear infinite;
}
@keyframes rotate{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} */